<footer class=" backdrop-blur-md bg-gray-900/90  shadow-xl ">
    <div class="max-w-7xl mx-auto px-4 py-4">
        <div class="flex flex-col md:flex-row justify-center text-center  items-center">

        <div class="flex flex-col items-center justify-center text-center  gap-2 group">
            <div class="flex justify-center text-center items-center gap-1">
            <div class="w-1.5 h-1.5 rounded-full  bg-green-400 group-hover:animate-pulse"></div>
            <p class="text-gray-400 font-medium tracking-tight">
                © 2026 <span class="text-white  group-hover:text-green-400 transition-colors">Catalogly</span>
            </p>
            </div>
            <p class="text-white">
            Alavanque suas vendas on-line
            </p>
        </div>

        </div>
    </div>
</footer>